<p>Street : <%= @user.street %></p>
<p>City : <%= @user.city %></p>
<p>State : <%= @user.state %></p>
<p>Contry : <%= @user.country %></p>
<p>Zipcode : <%= @user.zipcode %></p>
<p>profilepictcher : <%= image_tag @user.image_url.to_s %></p>

