<table>
  <tr>
      <%= link_to "settings", home_index_path %> 
     
    <th>FROM</th>
    
    <th>MESSAGE</th>

    <th>FILE</th>

  </tr>
  
<% @messages.each do |c| %>
<tr>

<td><%= c.user_id %></td>

<td><%= "#{c.body.first(10)}.........".to_s.html_safe %></td>
 
<td><%= link_to"Download file",c.image_url %></td>
<td><%= link_to"favorite", favorite_update_path(id:c) %></td>
<td><%= link_to"view",well_path(c) %></td>

<td><%= link_to "delete",well_path(c) , method: :delete, data: { confirm: 'Are you sure?' } %></td>
<% end %>
</tr>
</table>
<%= link_to 'Back',  root_path %> 
