
<table>
  <tr>
    <th>to</th>
    
    <th>message</th>
    <th>image</th>
  </tr>
  
<% @body.each do |c| %>
<tr>
<td><%= c.to %></td>

<td><%= c.message %></td>
<td><%= c.image %></td>
<td><%= link_to"view",well_path(c) %></td>

<% end %>
</tr>
</table>
<%= link_to 'Back',  new_well_path %> 
