
<table>
    <%= link_to "SETTINGS", home_index_path %> 

<%= search_form_for @search ,url: well_index_path do |f| %>
  <div class="field">
    <%= f.label :body_cont, "Name contains" %>
    <%= f.text_field :body_cont %>
  </div>
  <div class="actions">
  <%= f.submit "Search" %>
  </div>
  <%= link_to 'Back', well_index_path %>
<% end %>

  <tr>
    <th>TO</th>
    
    <th>MESSAGE</th>

    <th>FILE</th>
  </tr>
  
<% @messages.each do |c| %>

<tr>
<td><%= c.to %></td>
<td><%# =c.body[0..10].html_safe %></td>
<td><%= c.body.to_s.html_safe %></td>
<td><%= link_to"Download file",c.image_url %></td>
<td><%= link_to"view",well_path(c) %></td>
 <td><%= link_to "delete",well_path(c) , method: :delete, data: { confirm: 'Are you sure?' } %></td>
<% end %>
</tr>
</table>
<%= link_to 'Back',  root_path %> 
<%= will_paginate @messages%>
